<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlyRyans - Home </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">

</head>

<body class="mx-auto">
    <header class="d-flex">
        <div>
            <a href="/dashboard">OnlyRyans</a>
            <p>Welcome {{session['full_name']}}!</p>

        </div>
        <div>
            <a href="/profile">Profile</a>
            <a href="/logout">logout</a>
        </div>
    </header>
    <main class="mx-auto">
        <form class="mx-auto" action="/create_post" method='POST'>
            <input type="hidden" name="user_id" value="{{session['user_id']}}">
            <input type="text" name='post' placeholder="What are you thinking about Ryan?">
            <input type="submit" value="Post">
        </form>
        <div class="d-flex">
            <div>
                {%if ryans%}
                {%for ryan in ryans%}
                <div class="d-flex">
                    <a href="">{{ryan.first_name}}{{ryan.last_name}}: </a>
                    <div>

                    <p>{{ryan.post}}</p>
                    <a href="/likes/{{ryan.post_id}}">{{ryan.likes}} Likes</a> |
                    <a href="/likes_{{ryan.post_id}}">Like this</a>
                    {%if ryan.user_id == session['user_id']%}
                    <a href=""> | delete</a>
                    {%endif%}
                </div>
                </div>
                {%endfor%}
                {%endif%}
            </div>

            <a href="/ryan_poll">Is this a Ryan?</a>
        </div>
    </main>
</body>

</html>