<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryan Log In</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
</head>

<body class="mx-auto">
    <p id="banner">Who the hell is Patrick, anyway? Join us for St. Ryan's Day in Chicago IL, on March 23.</p>
    <header class="d-flex navbar">
        <stong id="logo">RYAN</stong>
        <div class="d-flex">
            <div class="d-flex menu-links">
                <li>Events</li>
                <li>Merch</li>
                <li>Poster</li>
                <li>Gallery</li>
                <li>Posters</li>
                <li>Map</li>
                <li>Press</li>
                <li>Support</li>
                <li>Contact</li>
                <div>
                    <a href="https://www.instagram.com/ryanmeetup/">
                        <img id="iconLinks" src="static/icons/instagram_icon.png" alt="instagram Ryan MeetUp">
                    </a>
                    <a href="https://www.meetup.com/ryanmeetup/">
                        <img id="iconLinks" src="static/icons/meetup_icon.png" alt="Ryan Meetup Link">
                    </a>
                    <a href="https://discord.com/invite/HDugzYSHKC">
                        <img id="iconLinks" src="static/icons/discord_icon.png" alt="Ryan Discord">
                    </a>
                </div>
                <a class="button" href="/">OnlyRyans</a>
            </div>
        </div>
    </header>

    <main>
        <div class="d-flex justify-content-around">
            <div class="box align-self-start">
                <h4>Register</h4>
                {% with messages = get_flashed_messages(category_filter=["register"]) %}
                {%if messages %}
                {%for message in messages%}
                <p><strong>{{message}}</strong></p>
                {%endfor%}
                {%endif%}
                {%endwith%}
                <form action="/register_ryan/push" method="POST">
                    <label for="">First Name: </label><br>
                    <input type="text" name="ryan_name"><br>
                    <label for="">Last Name: </label><br>
                    <input type="text" name="last_name"><br>
                    <label for="">Email: </label><br>
                    <input type="text" name="email"><br>
                    <label for="">Password: </label><br>
                    <input type="password" name="password"><br>
                    <label for="">Password Checker</label><br>
                    <input type="password" name="password_check"><br><br>
                    <input type="submit" value="Register Ryan">
                </form>
                <br>
                <a href="/register_ryan">Register your Ryan name</a>
            </div>
            <div class="box align-self-start">
                <h4>Log In</h4>
                {% with messages = get_flashed_messages(category_filter=["login"]) %}{%if messages %}
                {%for message in messages%}
                <p><strong>{{message}}</strong></p>
                {%endfor%}
                {%endif%}
                {%endwith%}
                <form action="/loginryan/push" method='POST'>
                    <label for="">Email: </label><br>
                    <input type="text" name="email"><br>
                    <label for="">Password: </label><br>
                    <input type="password" name="password"><br>
                    <br>
                    <input type="submit" value="Log in Ryan">
                </form>
            </div>
        </div>
    </main>
</body>
<footer>
</footer>

</html>