<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{session['full_name']}} - Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">

</head>

<body class="mx-auto">
    <p id="banner">Who the hell is Patrick, anyway? Join us for St. Ryan's Day in Chicago IL, on March 23.</p>
    <header class="d-flex navbar">
        <a class="button" href="/dashboard">OnlyRyans</a>
        <p>Welcome {{session['full_name']}}!</p>
        <div>
            <a href="/profile">Profile</a>
            <a href="/logout">logout</a>
        </div>
    </header>
    <main>
        <div class="content ">
            <h4>{{ryan.first_name}} {{ryan.last_name}}</h4>
            {%if session['user_id'] == ryan.user_id %}
            <a href="/accounts">Add your social media</a>
            {%endif%}

            <br>
            <p>{{ryan.first_name}} has posted: {{ryan.posts}}</p>
            <p>{{ryan.first_name}} has liked: {{ryan.likes}}</p>
            <br>

            <h4>{{ryan.first_name}} {{ryan.last_name}}'s accounts</h4>
            {%if not ryan.twitter ==''%}
            <img id="iconLinks" src="static\icons\twitter_icon.png" alt="Twitter / X"> {{ryan.twitter}} <br>
            {%endif%}

            {%if not ryan.facebook ==''%}
            <img id="iconLinks" src="static\icons\facebook_icon.png" alt="Facebook"> {{ryan.facebook}} <br>
            {%endif%}

            {%if not ryan.instagram ==''%}
            <img id="iconLinks" src="static\icons\instagram_icon.png" alt="Instagram icon"> {{ryan.instagram}} <br>
            {%endif%}

            {%if not ryan.snapchat == ''%}
            <img id="iconLinks" src="static\icons\snapchat_icon.png" alt="Snapchat"> {{ryan.snapchat}} <br>
            {%endif%}
        </div>
        <aside>
        </aside>
    </main>
</body>
<footer>
</footer>

</html>