<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryan - Profile</title>
</head>
<body>
<header>
    <a href="">Home</a>
    <a href="">Logout</a>
</header>
<h4>Ryan Hilario</h4>
<a href="">Add your social media</a>


<p>Ryan has posted: XXX</p>
<p>Ryan has liked: XXX</p>

<img src="" alt="">Twitter/X <br>
<img src="" alt="">Facebook <br>
<img src="flask_app/static/icons/instagram_icon.png" alt="">Instagram <br>
<img src="" alt="">Snapchat <br>
<img src="" alt="">LinkedIn <br>

</body>
</html>