<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{session['full_name']}} - Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">

</head>

<body>
    <header>
        <a href="/dashboard">Home</a>
        <a href="/logout">Logout</a>
    </header>
    <h4>{{ryan.first_name}} {{ryan.last_name}}</h4>
    {%if session['user_id'] == ryan.user_id %}
    <a href="/accounts">Add your social media</a>
    {%endif%}

    <p>{{ryan.first_name}} has posted: {{ryan.posts}}</p>
    <p>{{ryan.first_name}} has liked: {{ryan.likes}}</p>
    <h4>{{ryan.first_name}} {{ryan.last_name}}'s accounts</h4>
    {%if not ryan.twitter ==''%}
    <img id="iconLinks" src="static\icons\twitter_icon.png" alt="Twitter / X"> {{ryan.twitter}} <br>
    {%endif%}

    {%if not ryan.facebook ==''%}
    <img id="iconLinks" src="flask_app\static\icons\twitter_icon.png" alt="Facebook">{{ryan.facebook}} <br>
    {%endif%}

    {%if not ryan.instagram ==''%}
    <img id="iconLinks" src="static\icons\instagram_icon.png" alt="Instagram icon"> {{ryan.instagram}} <br>
    {%endif%}

    {%if not ryan.snapchat == ''%}
    <img id="iconLinks" src="static\icons\snapchat_icon.png" alt="Snapchat"> {{ryan.snapchat}} <br>
    {%endif%}

</body>

</html>