<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <header class="d-flex">
        <div>
            <a href="/dashboard">OnlyRyans</a>
            <p>Welcome {{session['full_name']}}</p>

        </div>
        <div>
            <a href="/profile">Profile</a>
            <a href="/logout">logout</a>
        </div>
    </header>

    <h4>Is this a Ryan?</h4>
    {%if data%}
    {%for datas in data%}
    <div>
        <h3>{{datas.name}}</h3>
        
        <form action="/cast_vote/push" method='POST'>
            <input type="submit" name="vote" value='No'>
            <input type="submit" name="vote" value='Yes'>
            <input type="hidden" name="user_id" value="{{session['user_id']}}">
            <input type="hidden" name="entry_id" value="{{datas.entry_id}}">
            <p>No: {{datas.no}} | Yes:{{datas.yes}}</p>
        </form>

    </div>
    {%endfor%}
    {%endif%}
</body>

</html>