<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add your social media</title>
</head>
<body>
    <header>
        <a href="">Home</a>
        <a href="">Logout</a>
    </header>
    <h3>add your account</h3>
    <p>In development on adding more accounts</p>
    <form action="">
        <label for="">Facebook:</label><br>
        <input type="text"> <br>
        <label for="">Instagram:</label><br>
        <input type="text"> <br>
        <label for="">Snapchat:</label><br>
        <input type="text"> <br>
        <label for="">Twitter / X:</label><br>
        <input type="text"> <br>
        <br><input type="submit" value="Save Accounts">
    </form>
</body>
</html>