*{
    margin: auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    max-width: 80%;
}

header{
    background-color: green;
}


#logo{
    font-family: 'cooper black';
}

#iconLinks{
    width: 2%;
}
.menu-links{
    list-style-type: none;
    padding: 10px ;
    margin: 0;
}

.box{
    padding: 20px;
    margin: 20px;
    border: 2px black solid;
    line-height: 20px;
}

.login-b{
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    height: 50px;
}

body{
    background-color: #fefffa;

}

div{
    border: black 1px solid;
}